[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "external/vexjs_"]
	path = external/vexjs
	url = https://github.com/pixelgenius-id/mandel-vexjs.git
